# Vue.js .gitignore
.DS_Store
web/node_modules/
web/dist/
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*
web/test/unit/coverage
web/test/e2e/reports
web/selenium-debug.log

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# Flask .gitignore
instance/
.webassets-cache

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
*.pyc

# Database
db/
